body {
  font-family: "DM Sans";
  font-style: normal;
  background-color: #F6F6F6;
  padding-bottom: 72px;
  padding-top: 72px;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 64px;
  }
}

button {
  cursor: pointer;
}

span {
  cursor: default;
}

h1, h2, h3 {
  cursor: default;
}

.is-hidden {
  display: none;
  pointer-events: none;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .main .container {
    display: block;
  }
}

.container {
  width: 1392px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 704px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 335px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  margin: 0;
  outline: none;
}

button {
  outline: none;
}

.magazine__button:hover {
  background-color: #4F2EE8;
  color: #fff;
}

.magazine__button:focus {
  background-color: #4F2EE8;
  color: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.category__span:hover {
  color: #4F2EE8;
}

.category__span:focus {
  color: #4F2EE8;
}

.magazine__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.magazine__img:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.login-modal__type-button:hover {
  color: #4F2EE8;
}

.header {
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  border: 2px solid #111;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header .container {
    height: 64px;
  }
}

.header__logo {
  width: 109px;
  height: 28px;
  margin-right: 76px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-nav-item {
  border-radius: 36px;
  background: #EAC645;
  padding: 8px 16px;
}

.header__nav-link {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
}

.active-nav-link {
  font-weight: 700;
}

.header__nav-icon {
  width: 20px;
  height: 20px;
  stroke: #111111;
  fill: #111111;
}

.header__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 24px;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .header__switch {
    margin-right: 14px;
  }
}

.header__switch-input {
  display: none;
}

.header__switch-input:checked + .header__slider:before {
  -webkit-transform: translateX(19.5px);
  transform: translateX(19.5px);
  background-color: #f7f7f7;
}

.header__switch-input:checked + .header__slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#4f2ee8), to(#686868));
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f2ee8), to(#dcdcdc));
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__slider::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-position: center;
  background-size: cover;
}

.header__round {
  border-radius: 34px;
}

.header__round:before {
  border-radius: 50%;
}

.header__account-div {
  background-color: #4f2ee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 184px;
  height: 45px;
  border-radius: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.header__account-avatar-div {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__account-avatar {
  width: 19px;
  height: 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #4f2ee8;
}

.header__account-name {
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #ffffff;
  margin-left: 9px;
  margin-right: 4px;
}

.header__account-button {
  background: none;
  border: none;
  fill: #ffffff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__account-icon {
  width: 23px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__menu-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu-button {
    border: none;
    background: none;
    display: block;
    width: 28px;
    height: 28px;
  }
}

.header__menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu-icon {
    width: 28px;
    height: 28px;
    display: block;
    stroke: #111111;
    -webkit-transform: translate(0%, 18%);
            transform: translate(0%, 18%);
  }
}

.header__open-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #111;
  background: #4f2ee8;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 184px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__open-button {
    display: none;
  }
}

.header__arrow-icon {
  width: 13px;
  height: 10px;
  stroke: #eac645;
}

.header__exit-button {
  border-radius: 18px;
  border: 1.5px solid #111;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  padding: 14px;
  position: absolute;
  top: 58px;
  right: 4%;
}

.header__exit-icon {
  margin-left: 90px;
  width: 20px;
  height: 20px;
}

.info {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .info {
    padding-bottom: 40px;
  }
}

.category {
  margin-bottom: 170px;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  overflow: scroll;
  overflow-x: hidden;
  height: 356px;
}
@media screen and (max-width: 768px) {
  .category__list {
    gap: 24px;
    height: 228px;
  }
}

.category__list::-webkit-scrollbar {
  display: none;
}

.category__span {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: rgba(17, 17, 17, 0.6);
  -webkit-transition: color 500ms linear 250ms;
  transition: color 500ms linear 250ms;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .category__span {
    font-size: 16px;
    font-weight: 400;
  }
}

.active {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}
@media screen and (max-width: 768px) {
  .active {
    font-size: 16px;
  }
}

.support {
  border-radius: 16px;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
          box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 356px;
  padding-left: 40px;
  padding-top: 29px;
  padding-bottom: 86px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .support {
    width: 335px;
  }
}

.support__title {
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.96px;
  font-size: 24px;
  color: #ffffff;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .support__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 44px;
  }
}

.support__emblem-icon {
  width: 20px;
  height: 32px;
  fill: #ffffff;
}

.support__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  height: 292px;
}

.support__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-showe {
  display: none;
}

.support__span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  color: #ffffff;
  margin-right: 11px;
}

.support__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 130px;
  max-height: 32px;
}

.support__scroll-button {
  width: 38px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(180deg);
          transform: translate(-50%, 0%) rotate(180deg);
  -webkit-transition: background-color 500ms linear 250ms, -webkit-transform 300ms linear;
  transition: background-color 500ms linear 250ms, -webkit-transform 300ms linear;
  transition: background-color 500ms linear 250ms, transform 300ms linear;
  transition: background-color 500ms linear 250ms, transform 300ms linear, -webkit-transform 300ms linear;
}

.support__scroll-icon {
  fill: #4F2EE8;
  width: 16px;
  height: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: fill 500ms linear 250ms;
  transition: fill 500ms linear 250ms;
}

.shop_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  color: #111;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .shop_title {
    font-size: 32px;
    font-weight: 700;
  }
}

.shop_title-purpure {
  color: #4F2EE8;
}

.magazine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.magazine__type-title {
  color: #B4AFAF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.magazine__book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .magazine__book-list {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .magazine__book-list .magazine__item:not(:first-child) {
    display: none;
  }
}

.magazine__img {
  width: 180px;
  height: 256px;
  border-radius: 8px;
  margin-bottom: 14px;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}
@media screen and (max-width: 768px) {
  .magazine__img {
    width: 335px;
    height: 485px;
  }
}

.magazine__book-name {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  max-width: 180px;
}
@media screen and (max-width: 768px) {
  .magazine__book-name {
    font-size: 16px;
    font-weight: 700;
    max-width: 335px;
  }
}

.magazine__book-author {
  color: #B4AFAF;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  max-width: 180px;
}
@media screen and (max-width: 768px) {
  .magazine__book-author {
    font-size: 12px;
    font-weight: 400;
  }
}

.magazine__button {
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid #4F2EE8;
  background-color: transparent;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  -webkit-transition: color 500ms linear 250ms, background-color 500ms linear 250ms, -webkit-box-shadow 500ms linear 250ms;
  transition: color 500ms linear 250ms, background-color 500ms linear 250ms, -webkit-box-shadow 500ms linear 250ms;
  transition: color 500ms linear 250ms, background-color 500ms linear 250ms, box-shadow 500ms linear 250ms;
  transition: color 500ms linear 250ms, background-color 500ms linear 250ms, box-shadow 500ms linear 250ms, -webkit-box-shadow 500ms linear 250ms;
}

.login-modal-bacdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(135deg, #7b6ee6, #3f00ff);
  z-index: 1001;
}

.login-modal {
  width: 579px;
  height: 516px;
  border-radius: 18px;
  border: 2px solid #111;
  background: #f6f6f6;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .login-modal {
    width: 335px;
    height: 384px;
    padding-top: 40px;
  }
}

.login-modal__close-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}
@media screen and (max-width: 768px) {
  .login-modal__close-button {
    right: 14px;
    top: 14px;
  }
}

.login-modal__close-icon {
  stroke: #111111;
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 768px) {
  .login-modal__close-icon {
    width: 20px;
    height: 20px;
  }
}

.login-modal__form {
  width: 499px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .login-modal__form {
    width: 295px;
    gap: 24px;
    margin-bottom: 14px;
  }
}

.login-modal__input {
  height: 64px;
  border-radius: 40px;
  border: 2px solid #111;
  padding: 20px 173px 20px 40px;
}
@media screen and (max-width: 768px) {
  .login-modal__input {
    height: 50px;
    padding: 16px 173px 16px 24px;
  }
}

.login-modal__input::-webkit-input-placeholder {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-modal__input::-moz-placeholder {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-modal__input:-ms-input-placeholder {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-modal__input::-ms-input-placeholder {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-modal__input::placeholder {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .login-modal__input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .login-modal__input::-moz-placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .login-modal__input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .login-modal__input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .login-modal__input::placeholder {
    font-size: 16px;
    font-weight: 700;
  }
}

.login-modal__email-icon {
  stroke: #111111;
  fill: none;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 190px;
  right: 72px;
}
@media screen and (max-width: 768px) {
  .login-modal__email-icon {
    top: 130px;
    right: 44px;
    width: 18px;
    height: 18px;
  }
}

.login-modal__password-icon {
  stroke: #111111;
  fill: none;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 282px;
  right: 72px;
}
@media screen and (max-width: 768px) {
  .login-modal__password-icon {
    top: 204px;
    right: 46px;
    width: 18px;
    height: 18px;
  }
}

.login-modal__submit-button {
  margin-top: 12px;
  height: 64px;
  border-radius: 40px;
  background-color: #111;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .login-modal__submit-button {
    width: 294px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }
}

.login-modal__change-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.active-modal {
  color: #4F2EE8 !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.login-modal__type-button {
  font-size: 18px;
  font-weight: 700;
  color: rgba(17, 17, 17, 0.5);
  text-transform: uppercase;
  -webkit-transition: color 500ms linear 250ms;
  transition: color 500ms linear 250ms;
}
@media screen and (max-width: 768px) {
  .login-modal__type-button {
    font-size: 14px;
    font-weight: 700;
  }
}

.phone-bacdrop {
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 104px;
  padding-left: 20px;
  z-index: 999;
}

.phone__close-button {
  border: none;
  background: none;
  display: none;
  width: 28px;
  height: 28px;
}

.phone__close-icon {
  width: 28px;
  height: 28px;
  stroke: #111111;
  -webkit-transform: translate(0%, 18%);
          transform: translate(0%, 18%);
}

.phone__open-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #111;
  background: #4F2EE8;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 184px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__arrow-icon {
  width: 13px;
  height: 10px;
  stroke: #EAC645;
}/*# sourceMappingURL=index.css.map */