.header {
    background-color: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    border: 2px solid #111;
    flex-shrink: 0;
}

.header .container {
    display: flex;
    height: 72px;
    align-items: center;
}

.header__logo {
    width: 109px;
    height: 28px;
    margin-right: auto;
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.header__switch-input {
    display: none;
}

.header__switch-input:checked+.header__slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
    background-color: #F7F7F7;
}

.header__switch-input:checked+.header__slider {
    background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
}

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    flex-shrink: 0;
}

.header__slider::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-position: center;
    background-size: cover;
}

.header__round {
    border-radius: 34px;
}

.header__round:before {
    border-radius: 50%;
}

.header__button {
    margin-left: 24px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 2px solid #111;
    background: #4F2EE8;
    color: #FFFFFF;
    display: flex;
    width: 184px;
    height: 48px;
    align-items: center;
    padding: 0px 14px;
    justify-content: space-between;
}

.header__arrow-icon {
    width: 13px;
    height: 10px;
    stroke: #EAC645;
}