.shop {}

.shop_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.92px;
    color: #111;
    margin-bottom: 40px;
}

.shop_title-purpure {
    color: #4F2EE8;
}

.magazine {
    display: flex;
    flex-wrap: wrap;
    // display: block;
    // flex-direction: column;
    gap: 40px;
}

.magazine__item {
    // width: 180px;
}

.magazine__type-title {
    color: #B4AFAF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.magazine__book-list {
    display: flex;
    // display: block;
    gap: 24px;
    margin-bottom: 32px;
}

.magazine__img {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    margin-bottom: 14px;
    transition: transform 500ms linear 250ms;
}

.magazine__book-name {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-bottom: 4px;
    max-width: 180px;
}

.magazine__book-author {
    color: #B4AFAF;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    max-width: 180px;
}

.magazine__button {
    padding: 14px 28px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    background-color: transparent;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    transition: color 500ms linear 250ms, background-color 500ms linear 250ms, box-shadow 500ms linear 250ms;
}